.form-container {}

.goaldepositrow {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.goalform {

    flex: 1;
}

.depositgoal {

    flex: 1;
}

.goal-form-input {
    display: flex;
    flex-direction: column;
}

.goal-form {
    margin-top: 12px;
    margin-bottom: 12px;
    min-width: 80px;
    min-height: 48px;

}

.button {
    
    min-height: 56px;
    background-color: goldenrod;
}

.progress-container {
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    height: 10px;
    width: 30%;
    border-style: solid;
    margin-bottom: 6px;

}

.progress-bar {
    background-color: green;
    height: 100%;
}